


#dscheckoutBasketSteps{
padding-top:15px;
font-size:100%;
	width:100%;
	text-align:center;
	margin:0px auto;
}

.errorHolder{
	margin: 25px 0 0 20px;
}

div.dscheckoutBasketSection {
	clear:both;
	margin: 20px 20px 0px 20px;
	text-align:left;
	padding: 20px 15px 15px 15px;
	border-top: 1px #404040 solid;
	min-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size: 12px;
}

div.dscheckoutBasketSection a{
	color: #ffd200;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size: 12px;
	text-decoration: none;
}

div.dscheckoutBasketSection a:hover{
	text-decoration: underline;
}

div.dscheckoutTitle h3{
	height: 25px;
	color:#FFFFFF;
	font-size: 21px;
	text-align:left;
}

div.dscheckoutTitleLarge {
	height:25px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 16px;
	color:#ffffff;
	text-align:left;
	padding-left: 5px;
}

#dscheckoutRequired{
	width:100%;
	text-align:right;
	margin:0px auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	color:#B41D22;
	font-style: normal;
	text-decoration: none;
}

div.dscheckoutSection{
padding-top:15px;
font-size:100%;
	width:100%;
	text-align:left;
	margin:0px auto;
}


.dsinputRequirement{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 100%;
	color:#B41D22;
	font-style: normal;
	text-decoration: none;
}


div.dscheckoutInput input.forminput {
	display: block;
	float: left;
	height: 20px;
	padding: 2px 0px 0px 5px;
	background-color: #0d0d0d;
	border: 1px solid #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	text-align:left;

}

div.dscheckoutInput select.forminput {
	display: block;
	float: left;
	height: 20px;
	padding: 2px 0px 0px 5px;
	background-color: #0d0d0d;
	border: 1px solid #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	text-align:left;

}

div.dscheckoutInput textarea.forminput {
	display: block;
	float: left;
	padding: 2px 5px 0px 5px;
	background-color: #0d0d0d;
	border: 1px solid #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	text-align:left;

}

div.dscheckoutInput {
	clear: both;
	padding-top: 5px;
	
}
* html div.dscheckoutInput {
padding-top: 2px;
}
div.dscheckoutInput label, div.emptyLabel {
	display: block;
	float: left;
	width/**/: 180px !important; /*for moz browser*/
	width: 170px; /* for IE */
	font-size: 12px;
	padding: 3px 0px 0px 20px;
	color: #eeeeee;
	
}

div.dscheckoutMessages{
clear:both;
padding-top:10px;
font-size: 11px;
	text-align:left;
	margin:0px auto;
	color: #eeeeee;
padding-bottom:10px;

}





















#checkoutBasketPage {  
	font-family: Arial, Verdana, Times;
	color: #ffffff;
	font-weight:bold;
	font-size: 100%;
	width:543px;
	padding-top:30px;
	text-decoration: none;
}


div.checkoutBasketSection {
clear:both;
	width:543px;
	text-align:center;
	margin:0px auto;
	padding-top:20px;
	padding-bottom:15px;
	background-image: url(../../../img/rel_prods_bk.gif);
	background-repeat: repeat-x;
	background-position: left top;
	min-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size: 100%;

}

div.checkoutbasketSeperator {  
	text-align:center;
	width:400px;
	margin:0px auto;
	height:30px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-bottom-color: #e4e4e4;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}




#basketStart {
	width:543px;
	text-align:center;
	margin:0px auto;
	padding-top:20px;
	background-image: url(../../../img/rel_prods_bk.gif);
	background-repeat: repeat-x;
	background-position: left top;
	min-height: 30px;

}



div.checkoutTick label, div.emptyLabel {
	display: block;
	float: left;
	width/**/: 185px !important; /*for moz browser*/
	width: 90px; /* for IE */
	font-size: 100%;
	padding-top: 3px;
	color: #ffffff;
}
